- collections.each do |collection|
  %tr
    %td= collection.id
    %td= collection.name
    %td= collection.text_link
    %td
      = link_to edit_collection_path(collection), class: "ca-actions" do
        %i.fa.fa-pencil.text-navy
      = link_to collection, {method: :delete, data: {confirm: '¿Estás seguro?'}} do
        %i.fa.fa-remove.text-navy
