%div.ibox-title
  %h5= "Listado de Colecciones"
  = link_to "Nuevo", new_collection_path, class: "btn btn-primary ca-crear"

%div.ibox-content
  %div.row
    = search_form_for @q, remote: true do |f|
      %div.col-sm-4
        %div.input-group
          = f.text_field :name_cont, { placeholder: "Search", class: "input-sm form-control"} 
          %span.input-group-btn
            = f.submit "Buscar", class: "btn btn-sm btn-primary" 

  %div.table-responsive
    %table.table.table-striped
      %thead
        %td ID
        %th Nombre
        %th Link del Text
        %th Url 
        %th Acciones
      %tbody#collections_result
        = render 'collections', collections: @collections
        


