= form_for(@model) do |f| 
  - if @model.errors.any? 
    %div#error_explanation
      %h2= pluralize(@model.errors.count, "error") + "prohibited this model from being saved:"
      %ul
        - @models.errors.full_messages.each do |message|
          %li= message

  %div.col-sm-6
    %div.form-group
      = f.text_field :name, placeholder: "Nombre", class: "form-control", required: true

  %div.col-sm-6
    = f.select :brand_id, brands_combo, {prompt: "Marca"}, {class: "ca-forms input-sm form-control input-s-sminline", required: true}

  %div.col-sm-12
    %div.form-group
      = render 'shared/picture_fields', object: @model, f: f

  %div.col-sm-12
    = link_to "Cancelar", models_path, class: "btn btn-white"
    = f.submit "Guardar Cambios", class: "btn btn-primary ca-suc"
