- models.each do |model|
  %tr
    %td= model.id
    %td= model.name.titleize
    %td= model.brand.name.titleize
    %td
      = link_to edit_model_path(model), class: "ca-actions" do
        %i.fa.fa-pencil.text-navy
      - if model.active?
        = link_to "Desactivar", deactivate_model_path(model)
      - else
        = link_to "Activar", activate_model_path(model)
