%div.ibox-title
  %h5= "Listado de Equipos"
  = link_to "Nuevo", new_model_path, class: "btn btn-primary ca-crear"
  
%div.ibox-content
  %div.row
    = search_form_for @q, remote: true do |f|
      %div.col-sm-4.mb-xs
        = f.select :brand_id_eq, brands_combo, {include_blank: "Marca"}, {class: "input-sm form-control input-s-sm inline"}
      %div.col-sm-4
        %div.input-group
          %span.input-group-btn
            = f.submit "Buscar", class: "btn btn-sm btn-primary srch" 
      %div.col-sm-4.mb-xs
        %div.bg-shad
          = f.check_box :active_false, {}, "1", nil
          %label Mostrar Inactivos 
  %br
  %div.table-responsive
    %table.table.table-striped
      %thead
        %th ID
        %th Nombre
        %th Marca
        %th Acciones
      %tbody#models_result
        = render 'models', models: @models
