%div.ibox-title
  %h5= "Asociar productos a: " + @product.name
  = link_to "Regresar", product_related_products_path(@product), class: "btn btn-sm btn-primary bck-btn"

= render 'search_section'
= render 'hidden_table', related_products: @products
%br
%div.ibox-content.ca-forms-god
  %div.row
    = render 'form'
