%nav.navbar-default.navbar-static-side{role: "navigation"}
  %div.sidebar-collapse
    %ul.nav#side-menu
      %li.nav-header
        %div.dropdown.profile-element
          %span
            = image_tag current_user.profile_picture, class: "img-circle"
          %a.dropdown-toggle{"data-toggle" => "dropdown", "href" => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold= current_user.complete_name
              %span.text-muted.text-xs.block= current_user.email 
        %div.logo-element= "IN+"
      %li{class: "#{set_active_class("order")}"}
        = link_to orders_path do
          %i.fa.fa-list-ul
          %span.nav-label= "Órdenes"
      %li{class: "#{set_active_class("product")}"}
        = link_to products_path do
          %i.fa.fa-th
          %span.nav-label= "Productos"
      %li{class: "#{set_active_class("user")}"}
        = link_to users_path do
          %i.fa.fa-users
          %span.nav-label= "Clientes"
      %li{class: "#{set_active_class("collection")}"}
        = link_to collections_path do
          %i.fa.fa-database
          %span.nav-label= "Colecciones / Categorías"
      %li{class: "#{set_active_class("model")}"}
        = link_to models_path do
          %i.fa.fa-mobile
          %span.nav-label= "Equipos"
      %li{class: "#{set_active_class("brand")}"}
        = link_to brands_path do
          %i.fa.fa-apple
          %span.nav-label= "Marcas"
      %li{class: "#{set_active_class("home")}"}
        = link_to "#" do
          %i.fa.fa-magic
          %span.nav-label= "Home"
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            = link_to "Slider Principal", sliders_path
          %li
            = link_to "Sección de Marcas", slider_brands_path
          %li
            = link_to "Primer Banner", banner_path("first")
          %li
            = link_to "Segundo Banner", banner_path("second")
          %li
            = link_to "Tercer Banner", banner_path("third")
          %li
            = link_to "Cuarto Banner", banner_path("fourth")

      %li{class: "#{set_active_class("builder")}"}
        = link_to "#" do
          %i.fa.fa-magic
          %span.nav-label= "Sección Nuevo"
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            = link_to "Primer Banner", interior_builder_path("first")
          %li
            = link_to "Segundo Banner", interior_builder_path("second")
      
      %li{class: "#{set_active_class("offer_builder")}"}
        = link_to offer_builders_path do
          %i.fa.fa-magic
          %span.nav-label= "Sección de Ofertas"
    
      %li{class: "#{set_active_class("newsletter_builder")}"}
        = link_to newsletter_builders_path do
          %i.fa.fa-magic
          %span.nav-label= "Modal Principal"

      %li{class: "#{set_active_class("newsletter")}"}
        = link_to newsletters_path do
          %i.fa.fa-magic
          %span.nav-label= "Sección de Newsletter"

