%label=image_label_for(object)
%div{class: "slide_container #{slider_class(object)}"}
  = image_tag(object.picture.image_url) if object.picture
= f.fields_for :picture do |f_fields|
  - if object.picture.persisted?
    = f_fields.file_field :image, class: "form-control"
  - else
    = f_fields.file_field :image, class: "form-control", required: true
