%section.image-square{class: "#{banner_orientation(banner.position)}"}
  .col-md-6.image.hide-over.bg-oblack
    .background-image-holder.motion-anim
      = image_tag banner.main_picture, alt: "image", class: "background-image"
    .water
      %h3.jfk= banner.hover_title 
      %p.slogan-thumb= banner.hover_description
  .col-md-6.content
    %h3.uppercase
      = banner.title
    %p
      = banner.description
    = link_to banner.link_text, banner.link_url, class: "btn btn-lg bg-dark mb0"
