%section.cover.fullscreen.image-slider.slider-arrow-controls.controls-inside.parallax
  %ul.slides
    - sliders.each do |slider|
      %li.overlay.image-bg.bg-light
        = link_to slider.url_link, class: "anchor-set" do
          .background-image-holder
            = image_tag slider.main_picture, alt: "image", class: "background-image"
          .container.v-align-transform
            .row
              .col-sm-10.col-sm-offset-1.text-center
                %h1.mb40.mb-xs-16.large
                  = slider.title
                %p.lead.mb40
                  = slider.description 
                - unless slider.link_text.blank?
                  %button{class: "btn btn-lg btn-filled lamb"}= slider.link_text 
