.nav-container
  %a#top
  %nav
    .nav-utility
      .wp-info
        %p
          Búscanos en Whatsapp
          %i.fa.fa-whatsapp
          %a{href: "tel:8119166503"} 811 916 6503 
          \/
          %a{href: "tel:8992854904"} 899 285 4904 
    .nav-bar
      .module.left
        = link_to root_path do
          = image_tag("logo.png", alt: "Foundry", class: "logo logo-light")
          = image_tag("logo.png", alt: "Foundry", class: "logo logo-dark")
      .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs.chops
        %i.ti-menu
      .module-group.right
        .module.left
          %ul.menu
            %li.has-dropdown
              = link_to "Mi Teléfono", brands_section_path
              %ul.mega-menu
                - @brands.each do |brand|
                  %li
                    %ul
                      %li
                        %span.title= brand.name.titleize
                        - brand.models.active.each do |model|
                          %li
                            = link_to model.name.titleize, model_section_path(model)
            %li.has-dropdown
              = link_to "Colecciones", collections_section_path
              %ul.mega-menu
                - @collections.each do |collection_slide|
                  %li
                    - collection_slide.each do |collection|
                      %ul
                        %li
                          = link_to collection.name, collection_section_path(collection) 
            %li
              = link_to "Lo más nuevo", newest_section_path
            %li
              = link_to "Oferta", offer_section_path
            %li
              = link_to "Contáctanos", contact_section_path
        / end of menu module
        .module.widget-handle.search-widget-handle.left
          .search
            %i.ti-search
            %span.title Search Site
          .function
            = search_form_for @q, url: search_section_path, class: "search-form" do |f|
              = f.search_field :name_or_description_or_code_cont, placeholder: "Buscar"

        .module.widget-handle.cart-widget-handle.left
          = render 'home/sessions'
        
        - if user_signed_in?
          - if current_user.admin?
            .module.widget-handle.cart-widget-handle.left
              %div
                = link_to products_path do
                  %i.ti-panel
                  %span.title Administrar Sitio
          .module.widget-handle.cart-widget-handle.left.vart#shopping_cart_section
            = render 'home/shopping_cart', order: @current_cart, line_items: @current_cart.line_items

        
