- @products.each do |product|
  %div.col-md-4.col-sm-4.masonry-item.col-xs-12
    %div.image-tile.outer-title.text-center
      - if type == "newest"
        %span.label Nuevo
      - elsif product.on_offer? && user_signed_in?
        %span.label.deal-label Sale
      = link_to product_section_path(product) do
        = image_tag product.main_picture, class: "product-thumb"
      %div.title
        %h5.mb0.m-name= product.name
        %p.p-title.mb8= product.description
        %div.price-section
          - if user_signed_in?
            %span.mb8.rebate-price= number_to_currency(product.regular_price, precision: 2)
            %span.mb8.normal-price= price_for_product(product, current_user)
          - else
            %span.mb8.normal-price= number_to_currency(product.regular_price, precision: 2)
