- @products.each do |product|
  %div.col-md-4.col-sm-4.masonry-item.col-xs-12
    %div.image-tile.outer-title.text-center
      - if type == "newest"
        %span.label Nuevo
      - elsif product.on_offer? 
        %span.label.deal-label Sale
      = link_to product_section_path(product) do
        = image_tag product.main_picture, class: "product-thumb"
      %div.title
        %h5.mb0.m-name= product.name
        %p.p-title.mb8= product.description
        %div.price-section
          %span{class: "mb8 #{style_for_price(product, current_user)}"}= price_for_product(product, current_user)
          - if product.on_offer && current_user.nil?
            %span.mb.normal-price= number_to_currency(product.offer_price, precision: 2)

