- products.each do |r_product|
  %div.col-md-3.col-sm-4
    %div.image-tile.outer-title.text-center
      = link_to product_section_path(r_product) do
        = image_tag r_product.main_picture, class: "product-thumb"
      %div.title
        %h5= r_product.name
        %div.price-section
          %span{class: "mb8 #{style_for_price(r_product, current_user)}"}= price_for_product(r_product, current_user)
          - if r_product.on_offer && current_user.nil?
            %span.mb.normal-price= number_to_currency(r_product.offer_price, precision: 2)

