%section.bg-primary.choose-model
  .container
    .row
      .col-md-6
        .v-center
          %h3.mb0.inline-block.uppercase= slider_brand.name
          %p.lead
            = slider_brand.description 
      .col-md-6
        .multiple-items
          - items.each do |item|
            %div
              = link_to brand_section_path(item.brand), class: "model-cont" do
                = image_tag item.main_picture
                %h6.uppercase.txt-center= item.brand.name

