= form_for(@order) do |f| 

  %div.ibox-content

    %div.table-response
      %table.table.table-striped
        %thead
          %th
          %th Producto
          %th Cantidad
          %th Precio
          %th Total
        %tbody
          - line_items.each do |line_item|
            %tr
              = hidden_field_tag "product_price", line_item.price, class: "product_price"
              = hidden_field_tag "alt_total_line_item", line_item.total, class: "alt_total_line_item"
              %td= image_tag line_item.product.main_picture, style: "max-width: 180px"
              %td= line_item.product.name
              %td
                = f.fields_for :line_items, line_item do |line_item|
                  = line_item.number_field :quantity, class: "order_line_item_quantity"
              %td
                - if @order.user.regular?
                  = number_to_currency(line_item.product.offer_price)
                - else
                  = number_to_currency(line_item.product.premium_price)
              %td{class: "total_line_item"}= number_to_currency(line_item.total, precision: 2)
          %tr
            %td
            %td
            %td
            %td Subtotal
            %td.text-center
              %strong#subtotal_order= number_to_currency(order.subtotal, precision: 2)
              = hidden_field_tag "alt_subtotal_order", order.subtotal, class: "alt_subtotal_order"
          %tr
            %td{colspan: "3"}
            %td Envío
            %td= f.text_field :shipping_price
          %tr
            %td{colspan: "3"}
            %td IVA
            %td= f.text_field :tax_price
          %tr
            %td{colspan: "3"}
            %td Total
            %td#total_order= number_to_currency(order.total, precision: 2)

  = f.submit "Guardar", class: "order_save_button btn btn-sm btn-primary"
