- orders.each do |order|
  %tr
    %td= link_to order.id, order_path(order)
    %td= order_status(order.status)
    %td= order.user.complete_name
    %td= order.line_items.sum(:quantity)
    %td= number_to_currency(order.subtotal, precision: 2)
    %td= number_to_currency(order.total, precision: 2)
    %td
      = link_to edit_order_path(order), class: "ca-actions" do
        %i.fa.fa-pencil.text-navy
      = link_to order, {method: :delete, data: {confirm: '¿Estás seguro?'}} do
        %i.fa.fa-remove.text-navy 

      - if order.in_progress?
        = link_to complete_order_path(order), class: "ca-actions" do
          %i.fa.fa-check.text-navy


