%div.ibox-title
  %h5= "Número de Orden: #{@order.id}"

%div.ibox-title
  %h5= "Cliente: #{@order.user.complete_name} / #{@order.user.email}"

%div.ibox-content

  
  %div.table-response
    %table.table.mid-table
      %thead
        %th Imagen
        %th Producto
        %th Cantidad
        %th Precio
        %th Total
      %tbody
        - @line_items.each do |line_item|
          %tr
            %td= image_tag line_item.product.main_picture, style: "max-width: 180px"
            %td= line_item.product.name
            %td= line_item.quantity
            - if @order.user.regular?
              %td= number_to_currency(line_item.product.offer_price)
            - else
              %td= number_to_currency(line_item.product.premium_price)
            %td= number_to_currency(line_item.total, precision: 2)
        %tr.hls
          %td
          %td
          %td
            %strong= @line_items.sum(:quantity)
          %td Subtotal
          %td
            %strong= number_to_currency(@order.subtotal)
        %tr
          %td{colspan: "3"}
          %td Envio
          %td
            %strong= number_to_currency(@order.shipping_price)
        %tr
          %td{colspan: "3"}
          %td IVA
          %td
            %strong= number_to_currency(@order.tax_price)
        %tr.tot
          %td{colspan: "3"}
          %td Total
          %td
            %strong= number_to_currency(@order.total)


  %div
    = link_to "Editar", edit_order_path(@order), class: "btn btn-sm btn-primary"
    = link_to "Enviar Cotización", send_to_client_order_path(@order), class: "btn btn-sm btn-primary"
    = link_to "Completar Orden", complete_order_path(@order), class: "btn btn-sm btn-primary ca-suc"

