%section
  .container
    .row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        .text-center
          %h4.uppercase Cotización
          %hr
        %table.table.cart.mb48.kart
          %tbody
            %tr
              %th
              %th{:scope => "row"} Producto
              %th.text-center{scope:"row"} Cantidad
              %th.text-center{scope: "row"} Precio
              %th.text-center{scope: "row"} Total

            - @line_items.each do |line_item|
              %tr
                %td.no-mvl
                  = image_tag line_item.product.main_picture, class: "product-thumb"
                %td= line_item.product.name
                %td.text-center= line_item.quantity
                %td.text-center= price_for_product(line_item.product, current_user)
                %td.text-center= number_to_currency(line_item.total, precision: 2)

            %tr
              %th{scope: "row"} Total
              %td
              %td.text-center
                %strong= @line_items.sum(:quantity)
              %td
              %td.text-center
                %strong= number_to_currency(@order.total, precision: 2)
        %form.halves.text-center
          = link_to "Regresar", detail_cart_path(@order), class: "btn-smi"
          = link_to "Enviar Cotización", complete_cart_path(@order), class: "btn-smi"
