.container
  .row
    .col-md-8.col-md-offset-2
      %div
        %h4.uppercase.text-center.mail-title Cotización
        = image_tag "https://cloud.githubusercontent.com/assets/4439027/15845807/3576b2d8-2c3c-11e6-910b-2beccb0e7864.png", alt: "idenmex"
        %p.ca-order-number
          %strong No. de Orden
          %span.ca-nu= @order.id 
      %table.table
        %tbody
          %tr
            %th{scope: "row"}
            %th Producto
            %th.text-center{scope: "row"} Código
            %th.text-center{scope: "row"} Cantidad
            %th.text-center{scope: "row"} Precio
            %th.text-center{scope: "row"} Total
          - @line_items.each do |line_item|
            %tr
              %td= image_tag @server_name + line_item.product.main_picture
              %td= line_item.product.name
              %td.text-center= line_item.product.code
              %td.text-center= line_item.quantity
              %td.text-center
                - if line_item.product.on_offer?
                  = number_to_currency(line_item.product.offer_price, precision: 2)
                - else
                  - if @user.regular?
                    = number_to_currency(line_item.product.merchant_price, precision: 2)
                  - else
                    = number_to_currency(line_item.product.premium_price, precision: 2)

              %td.text-center= number_to_currency(line_item.total, precision: 2)
          %tr
            %td{scope: "row"} Total
            %td
            %td
            %td.text-center
              %strong= @line_items.sum(:quantity)
            %td Subtotal
            %td.text-center
              %strong= number_to_currency(@order.subtotal, precision: 2)
          - if @order.shipping_price > 0.0
            %tr
              %td{colspan: "4"}
              %td Envío
              %td
                %strong= number_to_currency(@order.shipping_price, precision: 2)
          - if @order.tax_price > 0.0
            %tr
              %td{colspan: "4"}
              %td IVA
              %td
                %strong= number_to_currency(@order.tax_price, precision: 2)
          %tr
            %td{colspan: "4"}
            %td Total
            %td
              %strong= number_to_currency(@order.total, precisin: 2)
