- brands.each do |brand|
  %tr
    %td= brand.id
    %td= brand.name
    %td
      = link_to edit_brand_path(brand), class: "ca-actions" do
        %i.fa.fa-pencil.text-navy
      - if brand.active?
        = link_to "Desactivar", deactivate_brand_path(brand)
      - else
        = link_to "Activar", activate_brand_path(brand)
