%div.ibox-title
  %h5= "Listado de Marcas"
  = link_to "Nuevo", new_brand_path, class: "btn btn-primary ca-crear"
  
%p#notice= notice

%div.ibox-content
  %div.row
    %div.col-sm-4
      %div.input-group
        %input{type: "text", placeholder: "Search", class: "input-sm form-control"}
        %span.input-group-btn
          %button{type: "button", class: "btn btn-sm btn-primary"} Buscar


  %div.table-responsive
    %table.table.table-striped
      %thead
        %th ID
        %th Nombre
        %th Acciones
      %tbody
        - @brands.each do |brand|
          %tr
            %td= brand.id
            %td= brand.name
            %td
              = link_to brand, class: "ca-actions" do
                %i.fa.fa-file-text.text-navy
              = link_to edit_brand_path(brand), class: "ca-actions" do
                %i.fa.fa-pencil.text-navy
              = link_to brand, {method: :delete, data: {confirm: '¿Estás seguro?'}} do
                %i.fa.fa-remove.text-navy

