= form_for(@product) do |f| 
  = hidden_field_tag "product_id", @product.id
  - if @product.errors.any? 
    %div#error_explanation
      %h2= pluralize(@product.errors.count, "error") + " impidieron que el producto se guardara: "
      %ul
        - @product.errors.full_messages.each do |message| 
          %li= message

  %div.col-sm-6
    %div.form-group
      = f.text_field :name, placeholder: "Nombre", class: "form-control", required: true

  %div.col-sm-6
    %div.form-group
      = f.text_field :code, placeholder: "Código", class: "form-control", required: true

  %div.col-sm-6
    - if @product.persisted?
      = select_tag :brand_id, options_for_select(brands_combo, f.object.brand.id), { class: "ca-forms input-sm form-control input-s-sminline brand_field", prompt: "Marca", required: true}
    - else
      = select_tag :brand_id, options_for_select(brands_combo), {class: "ca-forms input-sm form-control input-s-sminline brand_field", prompt: "Marca", required: true}

  %div.form-group.col-sm-6
    = f.select :model_id, models_combo, { prompt: "Modelo"}, {class: "ca-forms input-sm form-control input-s-sminline", required: true}
  
  %div.form-group.col-sm-12
    = f.select :collection_id, collections_combo, {prompt: "Colección"}, {class: "ca-forms input-sm form-control input-s-sminline", required: true}
  
  %div.col-sm-4
    %div.form-group
      = f.text_field :regular_price, placeholder: "Precio Normal", class: "form-control", required: true

  %div.col-sm-4
    %div.form-group
      = f.text_field :merchant_price, placeholder: "Precio Mayorista", class: "form-control", required: true

  %div.col-sm-4
    %div.form-group
      = f.text_field :premium_price, placeholder: "Precio Mayorista Premium", class: "form-control", required: true

  %div.col-sm-12
    %div.form-group
      = f.text_area :description, placeholder: "Descripción", class: "form-control"
  
  %div.col-sm-4
    %div.form-group
      %div.beans
        %label
          = f.check_box :on_offer
          Producto en Oferta

  %div{class: "col-sm-4", style: "#{offer_display_field(@product)}", id: "offer_fields"}
    %div.form-group
      = f.text_field :offer_price, placeholder: "Precio de Oferta", class: "form-control", required: @product.on_offer?



  %div.col-sm-12
    = link_to "Cancelar", products_path, class: "btn btn-white"
    = f.submit "Guardar Cambios", class: "btn btn-primary ca-suc"
