- products.each do |product|
  %tr
    %td= product.id
    %td
      = product.name
      %small= offer_label(product)
    %td= product.code
    %td= product.collection.name.titleize
    %td= product.brand.name.titleize
    %td= product.model.name.titleize
    %td= number_to_currency(product.regular_price, precision: 2)
    %td= number_to_currency(product.merchant_price, precision: 2)
    %td= number_to_currency(product.premium_price, precision: 2)
    %td
      - if product.on_offer?
        = number_to_currency(product.offer_price, precision: 2)
    %td
      = link_to edit_product_path(product), class: "ca-actions" do
        %i.fa.fa-pencil.text-navy
      - if product.active?
        = link_to deactivate_product_path(product), class: "ca-actions" do
          %i.fa.fa-check-circle.text-navy
      - else
        = link_to activate_product_path(product), class: "ca-actions" do
          %i.fa.fa-check-circle-o.text-navy

      = link_to product_related_products_path(product), class: "ca-actions" do
        %i.fa.fa-exchange.text-navy
