%div.ibox-title
  %h5= "Listado de Productos"
  = link_to "Nuevo", new_product_path, class: "btn btn-primary ca-crear"

%div.ibox-content
  %div.row.right
    = search_form_for @q, remote: true do |f|
      %div.col-sm-4.mb-xs
        = f.select :collection_id_eq, collections_combo, {include_blank: "Colección"}, {class: "input-sm form-control input-s-sm inline"}
      %div.col-sm-4
        %div.input-group
          %span.input-group-btn
            = f.submit "Buscar", class: "btn btn-sm btn-primary srch"
      %div.col-sm-4.mb-xs
        %div.bg-shad
          = f.check_box :active_false, {}, "1", nil
          %label Mostrar Inactivos     
  %br
  %div.table-responsive
    %table.table.table-striped
      %thead
        %th ID
        %th Nombre
        %th Código
        %th Colección
        %th Marca
        %th Equipo
        %th Regular
        %th Mayorista
        %th Premium
        %th Oferta
        %th Acciones
      %tbody#products_result
        = render 'products', products: @products



